<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnhSneaker</title>
    <!--    <link rel="short icon" type="image/png" href="Pro2-images/profile .png">-->
    <link rel="stylesheet" th:href="@{/css/user.css}">
    <script src="https://kit.fontawesome.com/7b50466486.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="navi">
    <ul class="left">
        <i class="fa-brands fa-sketch"></i>
        <li><a href="">New & Featured</a>
            <ul class="subnav">
                <li><a href="">New & Featured</a>
                    <ul class="subnav-item">
                        <li><a href="">New Arrivals</a></li>
                        <li><a href="">Latest Shoes</a></li>
                        <li><a href="">Latest Clothing</a></li>
                        <li><a href="">Customise with Nike By You</a></li>
                        <li><a href="">Bestsellers</a></li>
                        <li><a href="">Member Exclusive</a></li>
                        <li><a href="">National Team Kits</a></li>
                        <li><a href="">Top Kicks Under 3,000,000₫</a></li>
                    </ul>
                </li>
                <li><a href="">Shop Icons</a>
                    <ul class="subnav-item">
                        <li><a href="">Air Force 1</a></li>
                        <li><a href="">Air Jordan 1</a></li>
                        <li><a href="">Air Max</a></li>
                        <li><a href="">Dunk</a></li>
                        <li><a href="">Blazer</a></li>
                        <li><a href="">Pegasus</a></li>
                    </ul>
                </li>
                <li><a href="">New For Man</a>
                    <ul class="subnav-item">
                        <li><a href="">Shoes</a></li>
                        <li><a href="">Clothing</a></li>
                        <li><a href="">Accessories</a></li>
                        <li><a href="">Shop All New</a></li>
                    </ul>
                </li>
                <li><a href="">New For Woman</a>
                    <ul class="subnav-item">
                        <li><a href="">Shoes</a></li>
                        <li><a href="">Clothing</a></li>
                        <li><a href="">Accessories</a></li>
                        <li><a href="">Shop All New</a></li>
                    </ul>
                </li>
                <li><a href="">New For Kid</a>
                    <ul class="subnav-item">
                        <li><a href="">Shoes</a></li>
                        <li><a href="">Clothing</a></li>
                        <li><a href="">Accessories</a></li>
                        <li><a href="">Shop All New</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="">Men</a>
            <ul class="subnav">
                <li><a href="">Shoes</a>
                    <ul class="subnav-item">
                        <li><a href="">All Shoes</a></li>
                        <li><a href="">Lifestyle</a></li>
                        <li><a href="">Running</a></li>
                        <li><a href="">Basketball</a></li>
                        <li><a href="">Football</a></li>
                        <li><a href="">Gym and Traning</a></li>
                        <li><a href="">Sandals and Slides</a></li>
                    </ul>
                </li>
                <li><a href="">Clothing</a>
                    <ul class="subnav-item">
                        <li><a href="">All Clothing</a></li>
                        <li><a href="">Tops and T-Shirts</a></li>
                        <li><a href="">Short</a></li>
                        <li><a href="">Pants and Leggings</a></li>
                        <li><a href="">Hoodies and Sweatshirts</a></li>
                        <li><a href="">Jackets and Gilets</a></li>
                        <li><a href="">Jerseys and Kits</a></li>
                        <li><a href="">Jordans</a></li>
                    </ul>
                </li>
                <li><a href="">Accessories</a>
                    <ul class="subnav-item">
                        <li><a href="">All Accessories</a></li>
                        <li><a href="">Bags and Backpacks</a></li>
                        <li><a href="">Socks</a></li>
                        <li><a href="">Hats and Headwear</a></li>
                    </ul>
                </li>
                <li><a href="">Sports</a>
                    <ul class="subnav-item">
                        <li><a href="">Running</a></li>
                        <li><a href="">Basketball</a></li>
                        <li><a href="">Football</a></li>
                        <li><a href="">Gym and Traning</a></li>
                        <li><a href="">Yoga</a></li>
                        <li><a href="">Tennis</a></li>
                        <li><a href="">Golf</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="">Women</a>
            <ul class="subnav">
                <li><a href="">Shoes</a>
                    <ul class="subnav-item">
                        <li><a href="">All Shoes</a></li>
                        <li><a href="">Lifestyle</a></li>
                        <li><a href="">Running</a></li>
                        <li><a href="">Basketball</a></li>
                        <li><a href="">Football</a></li>
                        <li><a href="">Gym and Traning</a></li>
                        <li><a href="">Sandals and Slides</a></li>
                    </ul>
                </li>
                <li><a href="">Clothing</a>
                    <ul class="subnav-item">
                        <li><a href="">All Clothing</a></li>
                        <li><a href="">Tops and T-Shirts</a></li>
                        <li><a href="">Shorts</a></li>
                        <li><a href="">Sports Bras</a></li>
                        <li><a href="">Pants and Leggings</a></li>
                        <li><a href="">Hoodies and Sweatshirts</a></li>
                        <li><a href="">Jackets and Gilets</a></li>
                        <li><a href="">Skirts and Dresses</a></li>
                        <li><a href="">Modest Wear</a></li>
                        <li><a href="">Nike Maternity</a></li>
                        <li><a href="">Plus Size</a></li>
                    </ul>
                </li>
                <li><a href="">Accessories</a>
                    <ul class="subnav-item">
                        <li><a href="">All Accessories</a></li>
                        <li><a href="">Bags and Backpacks</a></li>
                        <li><a href="">Socks</a></li>
                        <li><a href="">Hats and Headwear</a></li>
                    </ul>
                </li>
                <li><a href="">Sports</a>
                    <ul class="subnav-item">
                        <li><a href="">Running</a></li>
                        <li><a href="">Basketball</a></li>
                        <li><a href="">Football</a></li>
                        <li><a href="">Gym and Traning</a></li>
                        <li><a href="">Yoga</a></li>
                        <li><a href="">Tennis</a></li>
                        <li><a href="">Golf</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="">Kids</a>
            <ul class="subnav">
                <li><a href="">Kids By Age</a>
                    <ul class="subnav-item">
                        <li><a href="">Older Kids (7 - 14 years)</a></li>
                        <li><a href="">Younger Kids (4 - 7 years)</a></li>
                        <li><a href="">Babies and Toddlers (0 - 4 years)</a></li>
                    </ul>
                </li>
                <li><a href="">Shoes</a>
                    <ul class="subnav-item">
                        <li><a href="">All Shoes</a></li>
                        <li><a href="">Older Boys (7 - 14 years)</a></li>
                        <li><a href="">Younger Boys (4 - 7 years)</a></li>
                        <li><a href="">Babies and Toddlers (0 - 4 years)</a></li>
                        <li><a href="">Lifestyle</a></li>
                        <li><a href="">Jordan</a></li>
                        <li><a href="">Running</a></li>
                        <li><a href="">Basketball</a></li>
                        <li><a href="">Football</a></li>
                        <li><a href="">Sandals and Slides</a></li>
                    </ul>
                </li>
                <li><a href="">Clothing</a>
                    <ul class="subnav-item">
                        <li><a href="">All Clothing</a></li>
                        <li><a href="">Tops and T-Shirts</a></li>
                        <li><a href="">Hoodies and Sweatshirts</a></li>
                        <li><a href="">Pants and Leggings</a></li>
                        <li><a href="">Shorts</a></li>
                    </ul>
                </li>
                <li><a href="">Accessories</a>
                    <ul class="subnav-item">
                        <li><a href="">All Accessories</a></li>
                        <li><a href="">Bags and Backpacks</a></li>
                        <li><a href="">Socks</a></li>
                        <li><a href="">Hats and Headwear</a></li>
                    </ul>
                </li>
                <li><a href="">Sports</a>
                    <ul class="subnav-item">
                        <li><a href="">Running</a></li>
                        <li><a href="">Basketball</a></li>
                        <li><a href="">Football</a></li>
                        <li><a href="">Gym and Traning</a></li>
                        <li><a href="">Tennis</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="">Sale</a>
            <ul class="subnav">
                <li><a href="">Featured</a>
                    <ul class="subnav-item">
                        <li><a href="">Shop All Sale</a></li>
                    </ul>
                </li>
                <li><a href="">Men's Sale</a>
                    <ul class="subnav-item">
                        <li><a href="">Shoes</a></li>
                        <li><a href="">Clothing</a></li>
                    </ul>
                </li>
                <li><a href="">Woman's Sale</a>
                    <ul class="subnav-item">
                        <li><a href="">Shoes</a></li>
                        <li><a href="">Clothing</a></li>
                    </ul>
                </li>
                <li><a href="">Kid's Sale</a>
                    <ul class="subnav-item">
                        <li><a href="">Shoes</a></li>
                        <li><a href="">Clothing</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="">Sneakers</a></li>
    </ul>
    <div class="right">
        <a style="cursor: pointer;" onclick="displaysearch()"><i class="fa-solid fa-magnifying-glass"></i></a>
        <a href=""><i class="fa-solid fa-heart"></i></a>
        <a style="cursor: pointer;" onclick="displaylogout()"><i class="fa-solid fa-user"></i></a>
    </div>
</div>

<div id="navi-bottom">
    <div class="content">
        <h1>OWN THE HALLWAYS</h1>
        <p>SHOP BACK TO SCHOOL</p>
        <a href="">SHOP MEN</a>
        <a href="">SHOP WOMEN</a>
        <a href="">SHOP KIDS</a>
    </div>
</div>
<!--<div class="container" th:style="'background-image: url(' + @{/img/bg-auth.jpg} + ')'">-->
<div id="header">
    <div class="content">
        <p>Just In</p>
        <h1>NIKE READY PACK</h1>
        <P style="margin:15px 0;">The reason is here. Start yours prepared with the best in touch, agility, precision and speed.</P>
        <a href="">Show All</a>
    </div>
    <p style="margin-left:35px;margin-bottom: 20px;font-size: 23px;">Just In</p>
    <div class="products">
        <div class="item">
            <div class="image" th:style="'background-image: url(' + @{/img/productitem1.jpg} + ')'"></div>
            <div class="shopnow">
                <h2>Lebron 12</h2>
                <p>GOOD LOOKS FOR COOL WEATHER</p>
                <a href="">SHOP NOW</a>
            </div>
        </div>
        <div class="item">
            <div class="image" th:style="'background-image: url(' + @{/img/productitem2.jpg} + ')'"></div>
            <div class="shopnow">
                <h2>Air Max 95</h2>
                <p>GOOD LOOKS FOR COOL WEATHER</p>
                <a href="">SHOP NOW</a>
            </div>
        </div>
        <div class="item">
            <div class="image" th:style="'background-image: url(' + @{/img/productitem3.png} + ')'"></div>
            <div class="shopnow">
                <h2>Air Max 1</h2>
                <p>GOOD LOOKS FOR COOL WEATHER</p>
                <a href="">SHOP NOW</a>
            </div>
        </div>
    </div>
    <p style="margin-left:35px;margin-bottom: 20px;font-size: 23px;">The Latest</p>
    <div class="latest">
        <video width="90%" controls loop >
            <source src="img/video1.mp4" type="video/mp4">
        </video>
    </div>
</div>

<div id="header-bottom">
    <div class="content">
        <p>Jordan Men</p>
        <h1>FLIGHT HERITAGE</h1>
        <P style="margin:15px 0;">A new era is not an ending - it's an evolution. Join us in the nest chapter with staple wardrobe
            pieces that bring Jordan herigate into the cutting - edge of future fashion.</P>
        <a href="">Shop</a>
    </div>
    <div class="trendingup">
        <p style="margin-bottom: 20px;font-size: 23px;">Trending</p>
        <div class="angle">
            <i id="left" class="fa-solid fa-angle-left"></i>
            <i class="fa-solid fa-angle-right"></i>
        </div>
    </div>
    <div class="trending">
        <ul class="container">
            <li class="card">
                <img src="img/b38bcfe5-9432-4535-bed1-734c96ab7d88.jpg" alt="" draggable = "false">
                <a href="">Sustainable Materials</a>
                <p>1,500,000đ</p>
            </li>
            <li class="card">
                <img src="img/disuwww5uxkqulu2aivh.jpg" alt="" draggable = "false">
                <a href="">Sustainable Materials</a>
                <p>1,500,000đ</p>
            </li>
            <li class="card">
                <img src="img/f8f7c9f1-36f7-4138-aae3-94aba28321fa.jpg" alt="" draggable = "false">
                <a href="">Sustainable Materials</a>
                <p>1,500,000đ</p>
            </li>
            <li class="card">
                <img src="img/1130ce62-306c-454b-a6be-00df25e45ac1.jpg" alt="" draggable = "false">
                <a href="">Sustainable Materials</a>
                <p>1,500,000đ</p>
            </li>
            <li class="card">
                <img src="img/3bf68179-df2c-41b2-98e4-d969f831e26f.jpg" alt="" draggable = "false">
                <a href="">Sustainable Materials</a>
                <p>1,500,000đ</p>
            </li>
            <li class="card">
                <img src="img/5e15e69f-31a6-4230-832d-99130b5993fc.jpg" alt="" draggable = "false">
                <a href="">Sustainable Materials</a>
                <p>1,500,000đ</p>
            </li>
            <li class="card">
                <img src="img/7ecf3545-54b9-494d-9a93-d51e406b1053.jpg" alt="" draggable = "false">
                <a href="">Sustainable Materials</a>
                <p>1,500,000đ</p>
            </li>
            <li class="card">
                <img src="img/81b4f254-915f-478b-8113-0fb6ed0fe96f.jpg" alt="" draggable = "false">
                <a href="">Sustainable Materials</a>
                <p>1,500,000đ</p>
            </li>
            <li class="card">
                <img src="img/619223ad-3916-4143-9568-d5ba663a5fe0.jpg" alt="" draggable = "false">
                <a href="">Sustainable Materials</a>
                <p>1,500,000đ</p>
            </li>
            <li class="card">
                <img src="img/c4c0b117-77ad-4ab5-980f-37754de8339e.jpg" alt="" draggable = "false">
                <a href="">Sustainable Materials</a>
                <p>1,500,000đ</p>
            </li>
        </ul>
    </div>
    <p style="margin-left:35px;margin-bottom: 20px;font-size: 23px;">You Might Also Like</p>
    <div class="mightlike">
        <div class="left" href="">
            <div class="getit">
                <p>Nike Sport</p>
                <h2>Likestyle Footwear</h2>
                <a href="">Get It First</a>
            </div>
        </div>
        <div class="right" href="">
            <div class="getit">
                <p>Nike Yoga</p>
                <h2>Comfort Made for the Mat</h2>
                <a href="">Get It First</a>
            </div>
        </div>
    </div>
</div>

<div id="discount">
    <button>GET 20% OFF</button>
</div>

<div id="footer">
    <div class="up">
        <div class="item">
            <p>Icons</p>
            <a href="">Air Force 1</a>
            <a href="">Huarache</a>
            <a href="">Air Max 90</a>
            <a href="">Air Max 95</a>
        </div>
        <div class="item">
            <p>Shoes</p>
            <a href="">All Shoes</a>
            <a href="">Custom Shoes</a>
            <a href="">Jordan Shoes</a>
            <a href="">Running Shoes</a>
        </div>
        <div class="item">
            <p>Clothing</p>
            <a href="">All Clothing</a>
            <a href="">Modest Wear</a>
            <a href="">Hoodies & Pullovers</a>
            <a href="">Shirts & Tops</a>
        </div>
        <div class="item">
            <p>Kids'</p>
            <a href="">Infant & Toddler Shoes</a>
            <a href="">Kids' Shoes</a>
            <a href="">Kids' Jordan Shoes</a>
            <a href="">Kids' Basketball Shoes</a>
        </div>
    </div>
    <div class="down">
        <div class="item">
            <a href="">FIND A STORE</a>
            <a href="">BECOME A MEMBER</a>
            <a href="">Send Us Feedback</a>
        </div>
        <div class="item">
            <a href="">GET HELP</a>
            <div class="supitem">
                <a href="">Order Status</a>
                <a href="">Delivery</a>
                <a href="">Returns</a>
                <a href="">Payment Options</a>
                <a href="">Contact Us</a>
            </div>
        </div>
        <div class="item">
            <a href="">ABOUT NIKE</a>
            <div class="supitem">
                <a href="">News</a>
                <a href="">Careers</a>
                <a href="">Investors</a>
                <a href="">Sustainability</a>
            </div>
        </div>
        <div class="item">
            <a href=""><i class="fa-brands fa-tiktok"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-youtube"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
</div>

<div id="end">
    <div class="left">
        <a href="" style="color: white;"><i class="fa-solid fa-location-dot" style="margin-right: 10px;"></i>Viet Nam</a>
        <p>© 2023 Nike, Inc. All Rights Reserved</p>
    </div>
    <div class="right">
        <a href="">Guides</a>
        <a href="">Teams of Sale</a>
        <a href="">Teams of Use</a>
        <a href="">Nike Privacy Policy</a>
    </div>
</div>

<a th:href="@{/logout}">Logout</a>

<!--Display:none-->
<div id="logout">
    <div action="" class="container">
        <h3>Are you sure you want to log out?</h3>
        <div class="select">
            <a style="cursor: pointer;" onclick="hidelogout()">Cancel</a>
            <a th:href="@{/logout}">Yes</a>
        </div>
    </div>
</div>
<div id="search">
    <div class="container">
        <a href=""><i class="fa-brands fa-docker"></i></a>
        <form action="" class="for">
            <input type="text" placeholder="Search...">
        </form>
        <a style="cursor: pointer;" onclick="hidesearch()">Cancle</a>
    </div>
</div>
<script>
// Hide 'navi'
var prePos = 0;
window.onscroll = function() {
  var currentPos = window.pageYOffset;
  if( prePos > currentPos) {
    document.getElementById('navi').style.top = "0px";
  }
  else {
    document.getElementById('navi').style.top = "-75px"
  }
  prePos = currentPos;
}

//Log out and Search
var logout = document.getElementById('logout');
var search = document.getElementById('search');
function displaysearch() {
  search.style.display = "block";
}
function hidesearch() {
  search.style.display = "none";
}
function displaylogout() {
  logout.style.display = "block";
}
function hidelogout() {
  logout.style.display = "none";
}
window.onclick = function(event) {
  if(event.target == search) {
    search.style.display = "none";
  }
  if(event.target == logout) {
    logout.style.display = "none";
  }
}

//Slider
const container = document.querySelector(".container");
const firstCardWidth = container.querySelector(".card").offsetWidth;
const arrowBtns = document.querySelectorAll(".angle i");

let isDragging = false, startX, startScrollLeft;

// Add event listeners for the arrow buttons to scroll the container left and right
arrowBtns.forEach(btn => {
    btn.addEventListener("click", () => {
        container.scrollLeft += btn.id === "left" ? -firstCardWidth : firstCardWidth;
    });
});
const dragStart = (e) => {
    isDragging = true;
    container.classList.add("dragging");
    // Records the initial cursor and scroll position of the container
    startX = e.pageX;
    startScrollLeft = container.scrollLeft;
}
const dragging = (e) => {
    if(!isDragging) return; // if isDragging is false return from here
    // Updates the scroll position of the container based on the cursor movement
    container.scrollLeft = startScrollLeft - (e.pageX - startX);
}
const dragStop = () => {
    isDragging = false;
    container.classList.remove("dragging");
}
container.addEventListener("mousedown", dragStart);
container.addEventListener("mousemove", dragging);
document.addEventListener("mouseup", dragStop);
    </script>
</body>
</html>